name: lucky-pick-bot
services:
  bot:
    image: ghcr.io/capcom6/lucky-pick-tg-bot:latest
    environment:
      - TZ=${TIMEZONE}
      - HTTP__ADDRESS=:3000
      - TELEGRAM__TOKEN=${BOT__TELEGRAM_TOKEN}
      - DATABASE__URL=mariadb://bot:${DB__PASSWORD}@db:3306/bot?charset=utf8mb4&parseTime=True&loc=${TIMEZONE}
    restart: always
    depends_on:
      - db
    deploy:
      mode: replicated
      replicas: 1
      resources:
        reservations:
          memory: 16M
        limits:
          memory: 128M

  db:
    image: mariadb:lts
    environment:
      - TZ=${TIMEZONE}
      - MARIADB_ROOT_PASSWORD=${DB__ROOT_PASSWORD}
      - MARIADB_DATABASE=bot
      - MARIADB_USER=bot
      - MARIADB_PASSWORD=${DB__PASSWORD}
      - MARIADB_AUTO_UPGRADE
    volumes:
      - mariadb-data:/var/lib/mysql
    restart: always
    healthcheck:
      test:
        [
          "CMD",
          "healthcheck.sh",
          "--su-mysql",
          "--connect",
          "--innodb_initialized",
        ]
      interval: 10s
      timeout: 5s
      retries: 10
    deploy:
      mode: replicated
      replicas: 1
      resources:
        reservations:
          memory: 128M
        limits:
          memory: 512M
      placement:
        constraints:
          - node.role == manager

volumes:
  mariadb-data:
